[user]
  name = Pablo Kang
  email = pablokang@gmail.com

[diff]
[color]
  ui = auto

[alias]
  s = status
  st = status
  ci = commit
  co = checkout
  aa = add --all
  b = branch
  pr = pull --rebase
  l = log --graph --all
  sp = smart-pull

[format]
; pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
  graph=true

[push]
  default = tracking

[core]
  editor = /usr/local/bin/vim
  excludesfile = ~/.gitignore_global
  excludesfiles = ~/.gitignore_global
  ; autocrlf = true
  ; whitespace = cr-at-eol

[credential]
  helper = osxkeychain
